<div class="panel panel-default">
  <div class="panel-heading">
    <%= @topic.title %>
  </div>
<div class="panel-body">
  <%= @topic.article %>
</div>

</div>

<p><%= link_to '回到論壇首頁', topics_path %></p>
